html, body { height: 100%; font-family: sans-serif; background: #fcfcfa; }
pre {
    line-height: 15px;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
}

a {
    color: #204a87;
}
a:visited {
    color: #5c3566;
}

.jsstring { color: #cc0000; }
.jsnumber { color: #3465a4; }
.jsboolean { color: #2e3436; }
.jsnull { color: #888a85; }
.jskey { color: #5c3566; }
.jsextended { color: #8f5902; }
.jscomment { color: #babdb6; position: absolute; white-space: pre; }

.match {
    background: #fce94f;
    color: #2e3436;
}

.record {
    position: relative;
    margin: 5px 0;
}
.record.even {
    background: #e8f3ff;
}
.record.odd {
    background: #f8f8ff;
}

.content {
    overflow: hidden;
    position: relative;
}
.content.collapse {
    height: 80px;
}

.hdr {
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar {
    width: 195px;
    overflow: auto;
    float: left;
    border-right: solid 5px #d3d7cf;
    padding-bottom: 2px;
}

ul.tree {
    padding-left: 0;
}

.tree, .tree ul {
    padding-left: 20px;
}

.btn {
    border: solid 1px #729fcf;
    padding: 0 10px;
    margin-left: 5px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12pt;
    background: white;
    padding: 0 10px;
    font-family: sans-serif;
}
.btn, a.btn {
    color: #3465a4;
}
.btn:hover {
    background: #729fcf;
    color: white;
}

.toolbar {
    font-size: 0;
}
.toolbar .btn:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.toolbar .btn:last-child {
    border-right: solid 1px #729fcf;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.toolbar .btn {
    margin: 0;
    display: inline-block;
    border-right: 0;
    border-radius: 0;
}
.btn.active { font-weight: bold }
.btn.disabled { color: #d3d7cf; }
.btn.disabled:hover { background: inherit; }

table .key {
    text-align: right;
    vertical-align: top;
}

table .value {
    font-style: italic;
    vertical-align: top;
}

a.btn.confirm:hover {
    background: #ef2929;
}
.breadcrumb {
    background: url('momo.png');
    background-repeat: no-repeat;
    padding-left: 50px;
    height: 50px;
}
.breadcrumb h3 {
    line-height: 50px;
}
h1 {
    margin-top: 0;
}

label {
    display: block;
}

label input[type=text] {
    border: solid 1px #729fcf;
    border-radius: 3px;
}

.error {
    color: #eeeeec;
    background: #ef2929;
    padding: 10px;
}

.sortable th {
    cursor: pointer;
    position: relative;
}

.sortable .sortmark {
    position: absolute;
    right: 0;
}
